:root {
  font-size: $font-size; // for dynamic size use something like: calc(1vw + 0.6em)
  font-family: $font-family;
}

html {
  background: $background-color;
  color: $font-color;
  max-width: 100%;
  line-height: 1.4;
}

body {
  margin: 0;
  width: 100%;
}

#root {

}

h1 {
 
}

a {
  
}

.nav {
 
}
