body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.6;
  color: #ffffff;
}

p {
  margin: 0 0 10px;
}

header {
  min-height: 100vh;
  background: $background-color center / cover no-repeat url(../images/bg.jpg);
}

// Navigation

.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 80%;
  height: 148px;

}

.nav__link-logo {
  display: block;
  margin-left: toRem(110px);
  margin-right: toRem(120px)
}

.nav__link {
  font-weight: 600;
  font-size: toRem(22px);
  margin-right: toRem(42px);

  &:hover {
    color: #40DAEF;
    transition: linear 0.3s;
  }
}

// Header

.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.point {
  min-width: toRem(120px);
  min-height: toRem(706px);
  border-right: 1px solid rgba(#fff, 0.4);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.point__point-white {
  padding: 0 10px;
  margin-bottom: toRem(36px);
}

.header__scroll {
  position: relative;
}

.scroll__arrow {
  display: block;
  font-size: toRem(14px);
  text-transform: uppercase;
  position: absolute;
  transform: rotate(-90deg);

  bottom: -120px;
  right: -30px;
}

.scroll__arrow-img {
  transform: rotate(90deg);
  display: inline-block;
  padding-top: toRem(68px);
}

.header__text {
  display: flex;
  flex-direction: column;
  width: 530px;
}

.header__title {
  font-style: normal;
  font-weight: bold;
  font-size: toRem(72px);
  line-height: 1.2;
  padding-bottom: toRem(30px);
}

.header__subtitle {

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: toRem(18px);
    line-height: toRem(22px);
  }
}

.btn {
  width: 282px;
  height: 84px;

  display: inline-block;

  font-style: normal;
  font-weight: 500;
  font-size: toRem(24px);
  line-height: toRem(29px);
  text-align: center;
  
  border: 2px solid #18E3FF;
  box-sizing: border-box;
  border-radius: toRem(48px);
  padding: toRem(26px) toRem(50px);
  margin-top: toRem(30px);
}

.img__wrap {
  flex-shrink: 0;
  
}

// social-links

.header__follow-links {
  min-width: toRem(93px);
  min-height: toRem(706px);
  border-left: 1px solid rgba(255, 255, 255, 0.4);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.header__follow-links__wrap {
  min-height: toRem(217px);
}

.follow-link {
  margin: toRem(30px);
  
}

.icon-fb {
  display: block;
  fill: white;
  width: 12px;
  height: 21px;  
}

.icon-tw {
  display: block;
  fill: white;
  width: 13px;
  height: 17px;  
}

.icon-vk {
  display: block;
  fill: white;
  width: 20px;
  height: 12px;  
}