//  Fonts
$font-family: 'Montserrat', sans-serif;

//  Sizes
$font-size:           18px;
$viewport:            80vw;

//  Breakpoints
$mobile:              320px;
$tablet:              768px;
$laptop:              1366px;
$full-hd:             1920px;

//  Colors
$background-color:    #17181A;
$font-color:          #ffffff;
$primary:             #ffffff;
$secondary:           #18E3FF;
$blue:                #9deffa;
$accent2:             #e8e8e8;
$accent3:             #666666;
$accent4:             #333333;
$accent5:             #000000;
